In [41]:
import pandas as pd
from tqdm import tqdm

In [42]:
data_train = pd.read_csv('../analysis/train.csv')
label_train = pd.read_csv('../analysis/train_label.csv')

In [43]:
data_train.head()

,timestamp,block_id,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,sensor_08,sensor_09
0,2018-04-02 00:00:00,144,2.459491,45.83333,52.34375,44.791664,639.5833,78.57581,13.09317,16.16753,15.49479,15.11863
1,2018-04-02 00:01:00,144,2.459491,45.83333,52.34375,44.791664,639.5833,78.57581,13.09317,16.16753,15.49479,15.11863
2,2018-04-02 00:02:00,144,2.449653,45.74652,52.30035,44.791664,634.8380,79.06493,13.12211,16.13136,15.56713,15.11863
3,2018-04-02 00:03:00,144,2.464410,45.83333,52.30035,44.791664,632.1759,80.07732,13.05700,16.13136,15.49479,15.08247
4,2018-04-02 00:04:00,144,2.444734,45.61632,52.34375,44.791664,638.3102,77.70200,13.14381,16.13136,15.81308,15.11863

In [44]:
block_id = label_train[label_train['anomalous'] == 1]['block_id'].values
len(block_id)

131

In [45]:
df = pd.DataFrame(columns=[list(data_train.columns)])
lb = pd.DataFrame(columns=[list(label_train.columns)])
for b in tqdm(block_id):
    for i in range(0, 40, 4):
        tmp = data_train[data_train['block_id'] == b]
        tmp_suffle = tmp.sample(n=len(tmp), random_state=i)
        if len(df) == 0:
            df = tmp
            df = pd.concat([df, tmp_suffle], axis=0)
        else:
            df = pd.concat([df, tmp], axis=0)
            df = pd.concat([df, tmp_suffle], axis=0)
        
        tmp_lb = label_train[label_train['block_id'] == b]
        if len(lb) == 0:
            lb = tmp_lb
            lb = pd.concat([lb, tmp_lb], axis=0)
        else:
            lb = pd.concat([lb, tmp_lb], axis=0)
            lb = pd.concat([lb, tmp_lb], axis=0)

100%|█████████████████████████████████████████| 131/131 [00:01<00:00, 85.57it/s]

In [46]:
data_train_suffle = pd.concat([data_train, df])
label_train_suffle = pd.concat([label_train, lb])

In [47]:
data_train_suffle.to_csv('../analysis/sample/data_train_suffle.csv', index=False)
label_train_suffle.to_csv('../analysis/sample/label_train_suffle.csv', index=False)