In [1]:
import pandas as pd

In [21]:
data_train = pd.read_csv('../analysis/val.csv')
label_train = pd.read_csv('../analysis/train_label.csv')

In [22]:
num_features = list(data_train.columns)[2:]

In [23]:
df_add = data_train.groupby('block_id')[num_features].rank(pct=True).add_prefix('rank_')

In [24]:
df_add

,rank_sensor_00,rank_sensor_01,rank_sensor_02,rank_sensor_03,rank_sensor_04,rank_sensor_05,rank_sensor_06,rank_sensor_07,rank_sensor_08,rank_sensor_09
0,0.3,0.20,0.65,0.90,0.8,0.2,0.75,0.45,0.30,0.95
1,0.6,0.20,0.30,1.00,0.6,0.9,0.75,0.45,0.60,0.20
2,0.7,0.20,0.30,0.55,0.1,0.3,1.00,0.45,0.30,0.20
3,0.5,0.40,0.65,0.75,0.2,0.7,0.35,1.00,0.30,0.60
4,1.0,0.85,0.95,0.75,0.9,0.6,0.75,0.45,0.50,0.60
...,...,...,...,...,...,...,...,...,...,...
11565,0.8,0.35,1.00,0.40,1.0,0.5,0.45,0.45,0.45,0.75
11566,0.4,0.35,0.85,0.40,0.4,0.4,0.85,0.45,0.10,1.00
11567,0.8,0.70,0.40,0.40,0.7,0.1,0.45,0.95,0.45,0.75
11568,0.1,0.90,0.40,0.40,0.1,0.2,0.15,0.75,1.00,0.75
11569,1.0,1.00,0.40,0.40,0.5,0.3,0.45,0.75,0.90,0.30

In [25]:
data_train_pct_rank = pd.concat([data_train, df_add], axis=1)

In [26]:
data_train_pct_rank.head()

,timestamp,block_id,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,...,rank_sensor_00,rank_sensor_01,rank_sensor_02,rank_sensor_03,rank_sensor_04,rank_sensor_05,rank_sensor_06,rank_sensor_07,rank_sensor_08,rank_sensor_09
0,2018-04-02 01:20:00,152,2.444734,46.05035,52.343750,44.921875,644.6759,74.50053,13.12211,16.13136,...,0.3,0.20,0.65,0.90,0.8,0.2,0.75,0.45,0.3,0.95
1,2018-04-02 01:21:00,152,2.455556,46.05035,52.343746,44.921880,638.1945,78.41272,13.12211,16.13136,...,0.6,0.20,0.30,1.00,0.6,0.9,0.75,0.45,0.6,0.20
2,2018-04-02 01:22:00,152,2.456539,46.05035,52.343746,44.878470,634.4907,76.57825,13.14381,16.13136,...,0.7,0.20,0.30,0.55,0.1,0.3,1.00,0.45,0.3,0.20
3,2018-04-02 01:23:00,152,2.448669,46.22396,52.343750,44.878471,634.7222,77.23384,13.05700,16.21094,...,0.5,0.40,0.65,0.75,0.2,0.7,0.35,1.00,0.3,0.60
4,2018-04-02 01:24:00,152,2.465394,46.52777,52.387150,44.878471,645.1389,77.01125,13.12211,16.13136,...,1.0,0.85,0.95,0.75,0.9,0.6,0.75,0.45,0.5,0.60

In [27]:
data_train_pct_rank.to_csv('../analysis/pct_rank/val_pct_rank.csv', index=False)