In [1]:
from sklearn.model_selection import train_test_split
import pandas as pd

In [2]:
df_label = pd.read_csv('../data/label.csv')
df_sub = pd.read_csv('../data/sample_submission.csv')
df_sensor_log = pd.read_csv('../data/sensor_log.csv')

In [3]:
## Split train test
blockid_train = df_label['block_id'].values
_train = df_sensor_log['block_id'].isin(blockid_train)
df_train = df_sensor_log[_train].reset_index(drop=True)
df_test = df_sensor_log[~_train].reset_index(drop=True)

df_train.head(2)

,timestamp,block_id,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,sensor_08,sensor_09
0,2018-04-02 00:00:00,144,2.459491,45.83333,52.34375,44.791664,639.5833,78.57581,13.09317,16.16753,15.49479,15.11863
1,2018-04-02 00:01:00,144,2.459491,45.83333,52.34375,44.791664,639.5833,78.57581,13.09317,16.16753,15.49479,15.11863

In [4]:
block_id = df_label['block_id'].values
anomalous = df_label['anomalous'].values

x_train, x_test, y_train, y_test = train_test_split(block_id, anomalous, test_size=0.2, random_state=42)

len(x_train), len(x_test)

(4624, 1157)

In [5]:
data_train = df_train[df_train['block_id'].isin(x_train)]
data_val = df_train[df_train['block_id'].isin(x_test)]

data_train_label = df_label[df_label['block_id'].isin(x_train)]
data_val_label = df_label[df_label['block_id'].isin(x_test)]

len(data_train) + len(data_val), len(data_train_label) + len(data_val_label)

(57810, 5781)

In [6]:
data_train.to_csv('../analysis/train.csv', index=False)
data_val.to_csv('../analysis/val.csv', index=False)

data_train_label.to_csv('../analysis/train_label.csv', index=False)
data_val_label.to_csv('../analysis/val_label.csv', index=False)

df_test.to_csv('../analysis/test.csv', index=False)