In [14]:
import pandas as pd 
import numpy as np

In [2]:
### Load label
labels = pd.read_csv("../data/label.csv")

### load data
data = pd.read_csv("../data/sensor_log.csv")

In [3]:
blockid_train = labels['block_id'].values

In [4]:
_train = data['block_id'].isin(blockid_train)
data_train = data[_train]
data_test = data[~_train]

In [5]:
data_train.describe()

,block_id,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,sensor_08,sensor_09
count,57810.000000,57810.000000,57810.000000,57810.000000,57810.000000,57810.000000,57810.000000,57810.000000,57810.000000,57810.000000,57810.000000
mean,9465.219685,2.456694,48.083454,51.844648,44.325667,632.846089,75.649145,13.911208,16.142101,15.464119,15.106295
std,5586.456770,0.058112,1.754239,1.535984,1.440665,10.536220,7.810044,0.611180,0.307151,0.327212,0.211827
min,144.000000,0.000000,38.368050,42.838540,35.807290,200.558441,0.000000,3.009259,14.322920,14.351850,14.033560
25%,4479.000000,2.448669,47.135410,50.781250,43.446180,629.050900,70.137290,13.433160,15.957750,15.183740,15.053530
50%,9260.000000,2.455556,48.220490,51.822910,44.444443,633.796300,75.800060,13.686340,16.167530,15.494790,15.082470
75%,14683.000000,2.500810,49.262150,52.907990,45.355900,638.310200,80.870972,14.503760,16.247110,15.697340,15.118630
max,18709.000000,2.585285,60.237007,55.425350,47.916664,690.462452,99.325360,15.964990,17.495140,18.695345,16.254340

In [72]:
data_train[data_train['sensor_06'] < 11]

,timestamp,block_id,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,sensor_08,sensor_09
114452,2018-06-28 22:02:00,11445,0.000000,40.14757,45.18229,40.190970,201.061920,0.0,7.429109,15.12587,14.96672,15.05353
114453,2018-06-28 22:03:00,11445,0.001968,40.10416,45.18229,40.234380,202.641769,0.0,3.067130,15.12587,15.29224,15.11863
114454,2018-06-28 22:04:00,11445,0.001968,40.14757,45.22569,40.234375,206.038773,0.0,3.016493,15.15480,15.18374,15.08247
114455,2018-06-28 22:05:00,11445,0.001968,40.19097,45.22569,40.234380,200.558441,0.0,3.009259,15.15480,15.22714,14.97396
114456,2018-06-28 22:06:00,11445,0.001968,40.23438,45.31250,40.321180,203.029510,0.0,3.067130,15.19097,15.14757,15.11863
114457,2018-06-28 22:07:00,11445,0.001968,40.32118,45.35590,40.364580,202.757507,0.0,3.016493,15.15480,14.98843,15.16204
114458,2018-06-28 22:08:00,11445,0.001968,40.40799,45.39930,40.364580,202.178802,0.0,3.009259,15.15480,15.41522,15.08247
114459,2018-06-28 22:09:00,11445,0.001968,40.45139,45.44271,40.407990,201.102432,0.0,3.016493,15.15480,15.26331,15.11863

In [71]:
labels[labels['block_id'] == 1277]

     block_id  anomalous
416      1277          0

In [50]:
block_ids = []

In [51]:
block_ids += np.unique(data_test[data_test['sensor_00'] < 2.0]['block_id'].values).tolist()

In [52]:
block_ids += np.unique(data_test[data_test['sensor_04'] < 550]['block_id'].values).tolist()

In [ ]:
data_test[data_test['sensor_05'] < 50]

In [73]:
data_test[data_test['sensor_06'] < 11]

,timestamp,block_id,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,sensor_08,sensor_09
16794,2018-04-12 21:54:00,1679,0.000000,52.951390,52.821178,43.402775,117.109375,48.170300,5.758102,16.702840,15.530960,14.981190
16795,2018-04-12 21:55:00,1679,0.000000,53.342010,52.821180,43.402775,202.526031,49.792890,3.219039,16.890910,16.869210,15.082470
16796,2018-04-12 21:56:00,1679,0.000000,53.559020,52.777770,43.402775,204.725098,53.742140,3.045428,17.426210,15.740740,16.174770
16797,2018-04-12 21:57:00,1679,0.000000,53.559020,52.777770,43.402775,201.137131,52.499960,7.537616,13.534430,9.324364,16.051790
16798,2018-04-12 21:58:00,1679,0.000000,52.777770,52.690970,43.402770,204.030655,57.198750,7.609953,16.608800,16.203700,16.095200
16799,2018-04-12 21:59:00,1679,0.000000,52.604160,52.734370,43.446180,203.567688,50.961810,7.573785,16.702840,16.160300,16.087960
68791,2018-05-25 00:31:00,6879,0.801794,47.482640,51.475693,42.795135,611.689800,64.329250,0.028935,16.652200,16.059030,15.552660
68792,2018-05-25 00:32:00,6879,0.306945,47.526039,51.475690,42.795135,601.504600,81.626000,0.028935,16.652200,15.849250,15.639470
68793,2018-05-25 00:33:00,6879,0.306945,47.569440,51.388890,42.795140,445.023100,95.616050,0.028935,16.565390,16.066260,15.552660
68794,2018-05-25 00:34:00,6879,0.308912,47.569440,51.475690,42.838540,3.104745,97.971320,0.014468,16.652200,16.290510,16.348380
68795,2018-05-25 00:35:00,6879,0.303993,47.612850,51.432290,42.838539,3.376736,94.972020,0.014468,16.702840,16.384550,16.355610
68796,2018-05-25 00:36:00,6879,0.000000,47.699650,51.432290,42.838539,3.376736,41.016840,0.014468,16.652200,16.384550,16.399020
68797,2018-05-25 00:37:00,6879,0.303993,47.612850,51.258680,42.838540,3.260995,6.289175,0.014468,17.122400,16.782410,16.399020
68798,2018-05-25 00:38:00,6879,0.001968,47.786460,51.215270,42.925350,3.376736,0.964329,0.014468,17.122400,16.601560,16.355610
68799,2018-05-25 00:39:00,6879,0.001968,47.829860,51.215270,42.968750,3.260995,0.147862,0.014468,17.071760,16.232640,16.355610
118520,2018-07-08 00:10:00,11852,0.000000,45.225690,52.951390,45.442710,490.046300,9.139087,0.028935,0.028935,0.028935,0.007234
118521,2018-07-08 00:11:00,11852,0.001968,45.138890,52.907990,45.355900,500.000000,1.401310,0.028935,0.036169,0.036169,0.007234
118522,2018-07-08 00:12:00,11852,0.001968,45.095490,52.907990,45.312500,378.177100,0.214865,0.028935,0.036169,0.028935,0.007234
118523,2018-07-08 00:13:00,11852,0.001968,45.095490,52.907990,45.312500,202.063100,0.033991,0.028935,0.028935,0.028935,0.007234
118524,2018-07-08 00:14:00,11852,0.001968,45.138890,52.994790,45.225690,201.252869,0.005212,0.014468,0.028935,0.028935,0.007234
118525,2018-07-08 00:15:00,11852,0.001968,45.138890,53.038190,45.225693,200.674179,0.000775,0.028935,0.028935,0.028935,0.007234
118526,2018-07-08 00:16:00,11852,0.001968,45.095490,53.038190,45.225690,202.178802,0.000119,0.028935,0.036169,0.028935,0.007234
118527,2018-07-08 00:17:00,11852,0.001968,45.182290,53.125000,45.182290,200.326965,0.000000,0.028935,0.036169,0.028935,0.007234
118528,2018-07-08 00:18:00,11852,0.001968,45.182290,53.125000,45.182289,199.748245,0.000000,0.028935,0.036169,0.028935,0.007234
118529,2018-07-08 00:19:00,11852,0.001968,45.182290,53.168400,45.182289,200.789917,0.000000,3.175637,16.210940,15.697340,15.162040
142834,2018-07-25 14:04:00,14283,2.111227,45.833332,53.038190,43.836800,3.104745,69.973850,3.110532,16.167530,15.733510,15.082470
142835,2018-07-25 14:05:00,14283,2.040394,45.833332,53.125000,43.836800,3.104745,67.989690,3.081597,16.131360,15.617770,15.053530
142836,2018-07-25 14:06:00,14283,2.040394,45.833332,53.038190,43.793400,3.104745,65.506710,3.009259,16.210940,15.697340,15.010130
142837,2018-07-25 14:07:00,14283,1.731482,45.833332,53.038190,43.793400,3.104745,62.738330,2.980324,16.210940,15.697340,15.162040
142838,2018-07-25 14:08:00,14283,1.737384,45.833332,53.038190,43.793400,3.104745,60.701100,2.958623,16.210940,15.697340,15.060760
142839,2018-07-25 14:09:00,14283,1.595718,45.833332,53.038190,43.706600,3.104745,57.937320,2.973090,16.131360,15.733510,15.162040

In [54]:
set(block_ids)

{1679, 6231, 6879, 11852, 14283}